* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
}

#purple {
  height: 100vh;
  width: 100vw;
  top: 0;
  z-index: 100;
  position: fixed;
  /* background-color: #edbfff; */
  opacity: 0;
  display: none;
  transition: opacity ease 1s;
}

.cursor {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: fixed;
  background-color: #edbfff;
  z-index: 8;
  transition: background-image ease 0.5s;
  background-position: center;
  background-size: cover;
  mix-blend-mode: difference;
}

.main {
  background-color: #0f0d0d;
  cursor: none;
}

.page1 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  z-index: 9;
  padding-top: 12vw;
}

#nav {
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  position: fixed;
  mix-blend-mode: difference;
  z-index: 209;
  background-color: #111;
}

#nav img {
  height: 24px;
}

#nav-part2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#nav #circle {
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 50%;
}

#nav h4 {
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
}

#nav h4:nth-child(1) {
  border-bottom: 1.5px solid white;
}

.page1 h1 {
  font-size: 8vw;
  font-weight: 300;
  font-family: PP mori;
  margin-left: 6vw;
}

.page1 h2 {
  font-size: 8vw;
  font-weight: 300;
  font-family: PP mori;
  margin-left: 26vw;
}

.page1 video {
  width: 60%;
  margin-top: 10vw;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.page2 {
  min-height: 90vh;
  width: 100%;
  padding: 120px 5vw;
  position: relative;
  z-index: 9;
}

.page2 h1 {
  font-size: 7vw;
  font-weight: 500;
  color: #111;
  padding-bottom: 40px;
}

.page2-container {
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page2-left {
  width: 38%;
}

.page2-left h2 {
  text-transform: uppercase;
}

.page2-right {
  width: 38%;
}

.page2-left h2 {
  font-size: 4vw;
  font-weight: 300;
  color: #111;
  line-height: 4vw;
}

.page2-right p {
  font-size: 36px;
  color: #111;
  line-height: 45px;
}

/* .page2-right button {
  width: 100%;
  border-radius: 50px;
  border: none;
  padding: 4px 0;
  background-color: #edbfff;
  color: #111;
  margin-top: 20px;
} */

.page3 {
  min-height: 100vh;
  width: 100%;
  padding-top: 100px;
  padding-top: 100px;
  z-index: 9;
  position: relative;
}

.page3 h1 {
  font-size: 7vw;
  font-weight: 500;
  color: #111;
  margin-left: 100px;
}

.page3-part1 {
  min-height: 70vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
  margin-top: 60px;
}

.page3-part1 video {
  width: 35%;
  position: absolute;
}

#v1 {
  top: 40px;
  right: 40px;
}

#v2 {
  bottom: 0;
  left: 40px;
}

.extrapage{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#apple, #twitter, #github, #facebook{
  font-size: 8em;
  background-color: #18191f;
  color: #fff;
  box-shadow: 2px 2px 2px #00000080, 
              10px 1px 12px #00000080,
              2px 2px 10px #00000080, 
              2px 2px 3px #00000080, 
              inset 2px 2px 10px #00000080,
              inset 2px 2px 2px 10px #00000080, 
              inset 2px 2px 2px 10px #00000080,
              inset 2px 2px 10px #00000080;
  border-radius: 29px;
  padding: 11px 19px;
  margin: 0 40px;
  animation: animate 3s linear infinite;
  text-shadow: 0 0 50px #0072ff, 
               0 0 100px #0072ff, 
               0 0 150px #0072ff, 
               0 0 200px #0072ff;
}

#twitter{
  animation-delay: 0.3s;
}

#facebook{
  animation-delay: 0.7s;
}

#github{
  animation-delay: 0.1s;
}

@keyframes animate{
  from{
    filter: hue-rotate(0deg);
  }
  to{
    filter: hue-rotate(360deg);
  }
}

.page4 {
  min-height: 100%;
  width: 100%;
  position: relative;
  z-index: 9;
  padding: 200px 100px;
}

.page4 .elem {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.elem img {
  width: 300px;
  position: absolute;
  opacity: 0;
  transition: all ease-out 0.5s;
  transform: translateY(10%) rotate(2deg);
}

.elem img:nth-child(1) {
  left: 4%;
}

.elem img:nth-child(3) {
  right: 4%;
}

.text-div {
  height: 145px;
  overflow: hidden;
}

.page4 .elem h1 {
  font-size: 7vw;
  font-weight: 600;
  transition: all ease-out 0.5s;
}

.page4 .elem:hover h1 {
  transform: translateY(-100%);
  color: #edbfff;
}

.page4 .elem:hover img {
  opacity: 1;
  transform: translateY(0%) rotate(0deg);
}

#slider {
  width: 100%;
  min-height: 100%;
  /* background-color: red; */
}

#slider h1 {
  padding-top:50px;
  text-transform: uppercase;
  font-size: 35vw;
  /* transform: translateX(-130%); */
}

.page5 {
  min-height: 120vh;
  width: 100%;
  position: relative;
  z-index: 9;
  padding: 140px 100px;
}

.page5 h2 {
  font-size: 4vw;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 50px;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 20px;
  border-top: 2px solid #dadada;
}

.box:nth-last-child(1) {
  border-bottom: 2px solid #dadada;
}

footer {
  width: 100%;
  min-height: 100vh;
  background-color: #edbfff;
  padding: 40px 50px;
}

footer h1 {
  margin-top: 20px;
  font-size: 110px;
  font-weight: 500;
  font-family: PP mori;
  text-transform: uppercase;
  color: black;
}
/* #last {
  color: white;
} */

footer h1:nth-child(4) {
  color: white;
}

#string {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#string h1 {
  font-family: PP mori;
  font-size: 5vw;
  font-weight: 400;
  color: black;
}
